.item {
  width: 300px;
  height: 100%;
  padding: 24px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;

  img {
    display: inline-block;
    margin: 0 auto;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .text {
    margin-top: 10px;
    text-align: left;
  }
}
