.item {
  width: 800px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border-bottom: 1px solid #333;

  &:first-of-type {
    border-top: 1px solid #333;
  }
}

.question,
.answer {
  position: relative;
  padding: 15px 20px 15px 50px;

  &::before {
    position: absolute;
    top: 14px;
    left: 20px;
    font-weight: bold;
  }
}

.question {
  font-weight: bold;

  &::before {
    color: #1d4ed8;
    content: 'Q.';
  }

  &::after {
    position: absolute;
    top: 17px;
    right: 20px;
    display: block;
    width: 14px;
    height: 14px;
    margin: auto;
    content: '';
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(135deg);
  }

  &:hover {
    cursor: pointer;
  }

  &.open::after {
    top: 21px;
    transform: rotate(-45deg);
  }
}

.answer {
  background-color: #eee;

  &::before {
    color: #dc2626;
    content: 'A.';
  }

  p {
    white-space: pre-wrap;
  }
}
