body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', 'Yu Gothic', Meiryo, sans-serif;
  font-size: 16px;
  color: #333;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
